---
const { headline } = Astro.props;
---

<div class="page-header bg-gray-100">
  <div class="container py-10">
    <div class="flex min-h-[400px] flex-col justify-center text-center">
      <h1 class="type-display mb-0">{headline}</h1>
    </div>
  </div>
</div>
